<extend name="Public/base"/>
<block name="body">
    <style>
        .t1 {
            margin-left: -17px;
        }

        .t2 {
            margin-left: -17px;
        }

        @media (max-width: 768px) {
            .top-menu {
                margin-left: 0px;
            }

            .t6 {
                margin-top: 5px;
            }
        }

        select.input-sm {
            padding: 0px 0px;
        }
    </style>
    <div class="wrapper wrapper-content animated fadeInRight" style="width:100%;">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="row" style="width:100%;line-height: 30px;">
                            <form action="{:U()}" method="get">
                                <div class="col-sm-5 m-b-xs" style="width: 150px;">
                                    <select class="input-sm form-control input-s-sm inline" name="type">
                                        <option value="0">请选择</option>
                                        <option value="2"
                                        <if condition="$type eq 2"> selected</if>
                                        >俱乐部ID</option>
                                        <option value="1"
                                        <if condition="$type eq 1"> selected</if>
                                        >俱乐部名称</option>
                                    </select>
                                </div>
                                <div class="col-sm-3 top-menu t1" style="width: 200px;">
                                    <div class="input-group">
                                        <input type="text" placeholder="请输入关键词" class="input-sm form-control"
                                               name="search" value="{$search}"> <span class="input-group-btn">

                                    </div>
                                </div>
                                <!--<div class="col-sm-3 top-menu t2" style="width:100px;">-->
                                    <!--<div class="input-group">-->
                                        <!--创建时间-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-sm-3 top-menu t3" style="width: 200px;">-->
                                    <!--<div class="input-group">-->
                                        <!--<input type="text" class="input-sm form-control" id="datetimepicker1"-->
                                               <!--name="start" value="{$start|date='Y-m-d H:i',###}">-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-sm-3 top-menu t4" style="width:50px;">-->
                                    <!--<div class="input-group">-->
                                        <!--至-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-sm-3 top-menu t5" style="width: 200px;">-->
                                    <!--<div class="input-group">-->
                                        <!--<input type="text" class="input-sm form-control" id="datetimepicker2"-->
                                               <!--name="stop" value="{$stop|date='Y-m-d H:i',###}">-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="col-sm-3 top-menu t6" style="width: 100px;">
                                    <div class="input-group">
                                        <button type="submit" class="btn btn-sm btn-primary"> 搜索俱乐部</button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>俱乐部ID</th>
                                    <th>俱乐部名称</th>
                                    <th>群主ID</th>
                                    <th>群主昵称</th>
                                    <th>人数</th>
                                    <th>公告</th>
                                    <th>创建时间</th>
                                    <if condition="C('IS_SHOW_NOTHING')">
                                        <th>推荐</th>
                                    </if>
                                    <th>操作</th>
                                    <th>详细记录</th>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="data" id="list">
                                    <tr>
                                        <td>{$list.friendsGroupID}</td>
                                        <td>{$list.name}</td>
                                        <td>{$list.masterID}</td>
                                        <td>{$list.masterName}</td>
                                        <td>{$list.peopleCount|default=0}</td>
                                        <td>{$list.notice}</td>
                                        <td>{$list.createTime|date='Y-m-d H:i:s',###}</td>
                                        <if condition="C('IS_SHOW_NOTHING')">
                                            <td>{$list.hotCount|default=0}</td>
                                        </if>
                                        <td>
                                            <a class="btn btn-sm btn-success" href="javascript:;"
                                               onclick="admin_edit('成员列表','{:U('clubUserList',array('friendsGroupID'=>$list['friendsGroupID']))}','2','1200','600')"
                                               style="text-decoration:none">查看成员列表</a>
                                            <if condition="C('IS_SHOW_NOTHING')">
                                                <a class="btn btn-danger btn-xs" href="javascript:;"
                                               onclick="admin_edit('推荐','{:U('clubRecommend',array('friendsGroupID'=>$list['friendsGroupID']))}','2','600','300')"
                                               style="text-decoration:none">推荐</a>
                                           </if>
                                        </td>
                                        <td>
                                            <a class="btn btn-sm btn-primary" href="javascript:;"
                                               onclick="admin_edit('俱乐部战绩','{:U('clubRecord',array('friendsGroupID'=>$list['friendsGroupID']))}','2','1200','600')"
                                               style="text-decoration:none">俱乐部战绩</a>
                                            <a class="btn btn-sm btn-success" href="javascript:;"
                                               onclick="admin_edit('统计','{:U('clubCount',array('friendsGroupID'=>$list['friendsGroupID']))}','2','1200','600')"
                                               style="text-decoration:none">消耗统计</a>
<!--                                            <a class="btn btn-sm btn-primary" href="javascript:;"
                                               onclick="admin_edit('兑换与充值','{:U('clubRechargeExchange',array('friendsGroupID'=>$list['friendsGroupID']))}','2','1200','600')"
                                               style="text-decoration:none">兑换与充值</a>-->
                                        </td>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                            </form>
                        </div>
                        <div class="page">{$page}</div>
                    </div>
                </div>
            </div>
        </div>
</block>
