<extend name="Public/base"/>
<block name="body">
<style>
    .t1{margin-left: -17px;}
    .t2{margin-left: -130px;}
    .t3{margin-left: -90px;}
    .t4{margin-left: -5px;}
    .t5{margin-left: -170px;}
    .t9{margin-left: -90px;}
    .t10{margin-left: -130px;}
    /*.t6{margin-left: -135px;}*/
    /*.t7{margin-left: -150px;}*/
    .t8{margin-left: -120px;}
    @media (max-width: 768px){
        .top-menu{margin-left: 0px;}
        .t7{margin-top: 5px;}
    }
</style>
	<div class="wrapper wrapper-content animated fadeInRight" style="width:100%;">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                                            <div class="row" style="width:100%;line-height: 30px;">
                            <form action="{:U()}" method="get">
                            <div class="col-sm-5 m-b-xs" style="width: 200px;">
                                <select class="input-sm form-control input-s-sm inline" name="type">
                                    <option value="0">请选择</option>
                                    <option value="1" <if condition="$type eq 1"> selected </if>>用户ID</option>
                                    <option value="2" <if condition="$type eq 2"> selected </if>>用户名</option>
                                </select>
                            </div>
                            <div class="col-sm-3 top-menu t1" style="width: 200px;">
                                <div class="input-group">
                                    <input type="text" placeholder="请输入关键词" class="input-sm form-control" name="search" value="{$search}"> <span class="input-group-btn">
                                  
                                </div>
                            </div>
                            <div class="col-sm-3 top-menu t2" style="width: 200px;">
                                <div class="input-group">
                                    使用时间
                                </div>
                            </div>
                            <div class="col-sm-3 top-menu t3" style="width: 200px;">
                                <div class="input-group">
                                    <input type="text" class="input-sm form-control"  id="datetimepicker1" name="start" value="{$start|date='Y-m-d H:i',###}">
                                </div>
                            </div>
                            <div class="col-sm-3 top-menu t5" style="width: 200px;">
                                <div class="input-group">
                                    至
                                </div>
                            </div>
                            <div class="col-sm-3 top-menu t6" style="width: 200px;">
                                <div class="input-group">
                                    <input type="text" class="input-sm form-control"  id="datetimepicker2" name="stop" value="{$stop|date='Y-m-d H:i',###}">
                                </div>
                            </div>
                            <div class="col-sm-3 top-menu t7" style="width: 200px;">
                                <div class="input-group">
                                   <button type="submit" class="btn btn-sm btn-primary"> 搜索</button> </span>
                                </div>
                            </div>
                            <div class="col-sm-3 top-menu t8" style="width: 200px;">
                                <div class="input-group">
                                   <a href="javascript:;" class="btn btn-sm btn-success" onclick="admin_edit('配置','{:U('magic_config')}','2','300','400')"  style="text-decoration:none"> 魔法表情配置</a>
                                </div>
                            </div>

                            <div class="col-sm-3 top-menu t9" style="width: 200px;">
                                <div class="input-group">
                                   <a href="{:U('magic',array('isvirtual'=>1))}" class="btn btn-sm btn-info"  style="text-decoration:none;color: white"> 机器人</a>
                                </div>
                            </div>

                            <div class="col-sm-3 top-menu t10" style="width: 200px;">
                                <div class="input-group">
                                   <a href="{:U('magic',array('isvirtual'=>0))}" class="btn btn-sm btn-info"  style="text-decoration:none;color: white"> 用户</a>
                                </div>
                            </div>
                            </form>
                            <!-- <div class="col-sm-3" style="width:100px;margin-left:-40px;">
                                <div class="input-group">
                                   <a href="javascript:;" class="btn btn-sm btn-success" onclick="admin_edit('代理添加','{:U('member_add')}','2','800','600')"  style="text-decoration:none"> 添加代理</a>
                                </div>
                            </div>
                            <div class="col-sm-3" style="width: 6%;margin-left:-20px;">
                            <form action="{:U('Public/disabled')}" method="post" onsubmit="return ajax_post(this);" >
                                <div class="input-group">
                                   <button type="submit" class="btn btn-sm btn-danger"> 批量禁用</button>
                                </div>
                            </div> -->
                        </div>
                    <div class="ibox-title">
                        <h5>使用魔法表情记录</h5>
                    </div>
                    <div class="ibox-content">

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>

                                        <!-- <th><input type="checkbox" value="" class="chkall"><input type="hidden" name="model" value="Agentmember"><input type="hidden" name="disabled" value="1"></th> -->
                                        <th>用户ID</th>
                                        <th>用户名</th>
                                        <th>昵称</th>
                                        <th>使用时间</th>
                                        <th>消耗金币</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <volist name="_data" id="_data">
                                    <tr>
                                       <!--  <td>
                                            <input type="checkbox" value="{$_data.id}" name="id[]">
                                        </td> -->
                                        <td><a  onclick="admin_edit('用户详情','{:U('User/user_info',array('userid'=>$_data['userid']))}','2','1200','800')"  style="text-decoration:none"><font color="#1AB394">{$_data.userid}</font></a></td>
                                        <td><a  onclick="admin_edit('用户详情','{:U('User/user_info',array('userid'=>$_data['userid']))}','2','1200','800')"  style="text-decoration:none"><font color="#1AB394">{$_data.account}</font></a></td>
                                        <td><a  onclick="admin_edit('用户详情','{:U('User/user_info',array('userid'=>$_data['userid']))}','2','1200','800')"  style="text-decoration:none"><font color="#1AB394">{$_data.name}</font></a></td>
                                        <td>{$_data.time|date="Y-m-d H:i:s",###}</td>
                                        <td>{$_data.changemoney}</td>
                                    </tr>
                                  </volist>  
                                </tbody>
                            </table>
                            </form>
                        </div>
                        <div class="page">{$_page}</div>
                    </div>
                </div>
            </div>
        </div>
</block>