<extend name="Public/base"/>
<block name="body">
        <style>
        @media (max-width: 768px){
          /*.panel-body{border:2px solid red;}*/
          .ibox{width: 1000px;}
        }
    </style>
    <div class="wrapper wrapper-content animated fadeInRight" style="width:100%;">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>用户转赠统计</h5>
                    </div>
                    
                    <div class="ibox-content" style="">
                    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                    <div id="main" style="height:400px;width: 60%;margin:20px auto;" ></div>
                    <div id="main2" style="height:400px;width: 60%;margin:20px auto;" ></div>
                     <div style="width: 60%;margin:30px auto;">
                     <h3><font color="black">转赠数据</font></h3>
                        <table class="table table-bordered">
                            <tr>
                                <td style="width:300px;height:50px;text-align: center;"><h4>转赠总次数：<font color="red">{$zzCount}</font></h4></td>
                                <td style="width:300px;height:50px;text-align: center;"><h4>转赠消耗金币数：<font color="red">{$zzMoneyCount}</font></h4></td>
                                <td style="width:300px;height:50px;text-align: center;"><h4>转赠消耗钻石数：<font color="red">{$zzFkCount}</font></h4></td>
                            </tr>
                            <tr>
                                <td style="width:300px;height:50px;text-align: center;"><h4>单个用户转赠最多次数：<font color="red">{$maxMoney}</font></h4></td>
                                <td style="width:300px;height:50px;text-align: center;"><h4>单个用户转赠最多金币数：<font color="red">{$userMoneyCount}</font></h4></td>
                                <td style="width:300px;height:50px;text-align: center;"><h4>单个用户转赠最多钻石数：<font color="red">{$userFkCount}</font></h4></td>
                            </tr>
                           
                        </table>
                    </div> 
                        <!-- ECharts单文件引入 -->
                        <script src="__PUBLIC__/echarts/echarts.js"></script>
                        <script type="text/javascript">
                               // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        option = {
    title: {
        text: '最近七日转赠消耗次数'
    },
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data:['转赠消耗金币数','转赠消耗钻石数']
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    toolbox: {
        feature: {
            saveAsImage: {}
        }
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data:[ 
        <volist name="d" id="d">
        "{$d|date='m-d',###}",
        </volist>]
    },
    yAxis: {
        type: 'value'
    },
    series: [
       {
            name:'转赠消耗金币数',
            type:'line',
            stack: '总量',
            data:[<volist name="money" id="m">
                "{$m|default='0'}",
            </volist>]
        },
        {
            name:'转赠消耗钻石数',
            type:'line',
            stack: '总量',
            label: {
                normal: {
                    show: true,
                    position: 'top'
                }
            },
            data:[<volist name="fk" id="fk">
                "{$fk|default='0'}",
            </volist>]
        },
    ]
};
       

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);


          // 基于准备好的dom，初始化echarts实例
        var myChart2 = echarts.init(document.getElementById('main2'));

        // 指定图表的配置项和数据
        var option = {
    title: {
        text: '最近一年转赠消耗数'
    },
    tooltip: {
        trigger: 'axis'
    },
    legend: {
         data:['转赠消耗金币数','转赠消耗钻石数']
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    toolbox: {
        feature: {
            saveAsImage: {}
        }
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: [<volist name="y" id="y">
        "{$y}",
        </volist>]
    },
    yAxis: {
        type: 'value'
    },
    series: [
        {
            name:'转赠消耗金币数',
            type:'line',
            stack: '总量',
            data:[<volist name="time12j" id="time12j">
        "{$time12j['yearCountMoney']|default='0'}",
        </volist>]
        },
        {
            name:'转赠消耗钻石数',
            type:'line',
            stack: '总量',
            label: {
                normal: {
                    show: true,
                    position: 'top'
                }
            },
            data:[<volist name="time12f" id="time12f">
        "{$time12f['yearCountJb']|default='0'}",
        </volist>]
        },
       
    ]
};

        // 使用刚指定的配置项和数据显示图表。
        myChart2.setOption(option);
                        </script>
                    </div>
                </div>
            </div>
        </div>
</block>
