<include file="Public/base"/>
				        <div class="agency-wrap">
            <div class="tab-container">
                <div class="tab-nav" style="display:none">
                    <a href="/agent/agentlist" class="on">代理申请列表</a>
                    <a href="/agent/agentlist?action=manage">代理管理</a>
                </div>
                <div class="tab-main">
                    <div class="agency-manage">
				             
						<style>
							.info a{font-weight:700; font-size: 0.29rem; display: block; width: 100%}
						</style>       
				                            
					        <div class="item" style="border-bottom:1px solid #e6e6e6;margin-bottom:0.1rem;">
                            <div class="info" style="border-bottom:0px solid #e6e6e6">
                            	<a href="{:U(dlgz_c)}">代理制度</a>
                            </div>
							
            </div>
            <div class="item" style="border-bottom:1px solid #e6e6e6;margin-bottom:0.1rem;">
                            <div class="info" style="border-bottom:0px solid #e6e6e6">
                            	<a href="{:U(dlgz_help1)}">做代理以后如何赚钱？</a>
                            </div>
							
            </div>
            <div class="item" style="border-bottom:1px solid #e6e6e6;margin-bottom:0.1rem;">
                            <div class="info" style="border-bottom:0px solid #e6e6e6">
                            	<a href="{:U(dlgz_help2)}">如何找到玩家？如何让微信群保持活跃？ </a>
                            </div>
							
            </div>
            <div class="item" style="border-bottom:1px solid #e6e6e6;margin-bottom:0.1rem;">
                            <div class="info" style="border-bottom:0px solid #e6e6e6">
                            	<a href="{:U(dlgz_help3)}">我应该优先自己开群还是优先发展下级代理？</a>
                            </div>
							
            </div>
            <div class="item" style="border-bottom:1px solid #e6e6e6;margin-bottom:0.1rem;">
                            <div class="info" style="border-bottom:0px solid #e6e6e6">
                            	<a href="{:U(dlgz_help4)}">如何发展下级代理？</a>
                            </div>
							
            </div>
            <div class="item" style="border-bottom:1px solid #e6e6e6;margin-bottom:0.1rem;">
                            <div class="info" style="border-bottom:0px solid #e6e6e6">
                            	<a href="{:U(dlgz_help5)}">返利额度调增制度</a>
                            </div>
							
            </div>
            
        </div>

        <div class="index-wrap">
            <div class="footer-note">
                <p style="text-align:center"><span>棋牌运营平台</span></p>
            </div>
        </div>

    </div>
</body>
</html>