<include file="Public/base"/>
		        <div class="welcome-wrap">
			            <div class="brief">
                <p class="txt" style="font-weight:bold;"><span style="padding-right:10px;font-size:0.3rem;color:#1a1a1a;">快一棋牌游戏二维码</span>友友们：<i>快来扫一扫</i></p>
            </div>
        </div>
			
<style>
.invite-wrap .line{ padding:0.3rem 0}
.erweima{ width:100%; overflow:hidden}
.erweima h3{ margin:5px 0 5px 0; text-align:left; font-weight:bold}
.erweima P{ text-align:left; color:#999; font-family:"Microsoft YaHei"; }
.pic{ float:left; width:30%; margin:2px 1% 3px 0}
.link{ width:100%; overflow: hidden;}
.invite-wrap .link p.burl{ width:100%}
.bck{width:80%; height:0.8rem; margin: 10px auto 0}
.erweima .pic{text-align: center;}
</style>


		<div class="invite-wrap"> 
            <div class="erweima">
                <div class="pic" style="display:none">
					<img style="width:70%" src="">
                </div>
				<div class="erweima"><br>
					<h3 style="color:red;text-align: center">长按图片可保存至手机</h3>
				</div>
								<div class="erweima" id="erweima_14">
								<div class="pic" style="padding-left:30%" ><img src="__PUBLIC__/newadmin/erweima.png" alt=""  border="0">
					</div>
									</div>
				<br />
			</div>
        </div>
<script src="/static/script/ajax.js"></script>

<script>


</script>


        <div class="index-wrap">
            <div class="footer-note">
                <p style="text-align:center"><span>棋牌运营平台</span></p>
            </div>
        </div>




    </div>
</body>
</html>