<extend name="Public/base"/>
<block name="body">
    <div class="wrapper wrapper-content animated fadeInRight" style="width:100%;">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="row" style="width:100%;line-height: 30px;">
                            <form action="{:U()}" method="get">
                                <div class="col-sm-5 m-b-xs" style="width: 150px;">
                                    <select class="input-sm form-control input-s-sm inline" name="type">
                                        <option value="0">请选择</option>
                                        <option value="1" <if condition="$type eq 1"> selected </if>>用户ID</option>
                                        <option value="2" <if condition="$type eq 2"> selected </if>>用户昵称</option>
                                    </select>
                                </div>
                                <div class="col-sm-3" style="width: 15%;margin-left: -20px;">
                                    <div class="input-group">
                                        <input type="text" placeholder="请输入关键词" class="input-sm form-control"
                                               name="search" , value = "{$search}"> <span class="input-group-btn"/>

                                    </div>
                                </div>
                                <div class="col-sm-3" style="width:8%;margin-left: -40px;">
                                    <div class="input-group">
                                        操作时间
                                    </div>
                                </div>
                                <div class="col-sm-3" style="width: 15%;margin-left: -60px;">
                                    <div class="input-group">
                                        <input type="text" class="input-sm form-control" id="datetimepicker1"
                                               name="start">
                                    </div>
                                </div>
                                <div class="col-sm-3" style="width:4%;margin-left: -40px;">
                                    <div class="input-group">
                                        至
                                    </div>
                                </div>
                                <div class="col-sm-3" style="width: 15%;margin-left: -40px;">
                                    <div class="input-group">
                                        <input type="text" class="input-sm form-control" id="datetimepicker2"
                                               name="stop">
                                    </div>
                                </div>
                                <div class="col-sm-3" style="width:100px;">
                                    <div class="input-group">
                                        <button type="submit" class="btn btn-sm btn-primary"> 搜索玩家</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-3" style="width:100px;">
                                    <div class="input-group">
                                        <a href="javascript:;" class="btn btn-sm btn-success" onclick="admin_edit('银行配置','{:U('bank_give_config')}','2','800','700')"  style="text-decoration:none"> 银行配置</a>
                                    </div>
                                </div>
                                <div class="col-sm-3" style="width:500px;">
                                <h3> 所有用户银行总额:<font color="red">{$bankmoney}</font></h3>
                                </div>
                            </form>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>操作用户ID</th>
                                    <th>操作用户昵称</th>
                                    <th>收款用户ID</th>
                                    <th>收款用户昵称</th>
                                    <th>操作类型</th>
                                    <th>操作金额</th>
                                    <th>操作时间</th>
                                    <th>累计转账次数</th>
                                    <th>累计转账金额</th>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="_data" id="_data">
                                    <tr>
                                        <td>
                                            <a onclick="admin_edit('用户详情','{:U('User/user_info',array('userid'=>$_data['userid']))}','2','1200','800')"
                                               style="text-decoration:none"><font color="#1AB394">{$_data.userid}</a></td>
                                        <td>
                                            <a onclick="admin_edit('用户详情','{:U('User/user_info',array('userid'=>$_data['userid']))}','2','1200','800')"
                                               style="text-decoration:none"><font color="#1AB394">{$_data.name}</a></td>
                                        <td>
                                            <a onclick="admin_edit('用户详情','{:U('User/user_info',array('userid'=>$_data['targetid']))}','2','1200','800')"
                                               style="text-decoration:none"><font color="#1AB394">{$_data.targetid}</a></td>
                                        <td>
                                            <a onclick="admin_edit('用户详情','{:U('User/user_info',array('userid'=>$_data['targetid']))}','2','1200','800')"
                                               style="text-decoration:none"><font color="#1AB394">{$_data.targetname}</a></td>
                                        <td>{$_data.operate_type_name}</td>
                                        <td>{$_data.money}</td>
                                        <td>{$_data.time|date="Y-m-d H:i:s",###}</td>
                                        <td>{$_data.total_count}</td>
                                        <td>{$_data.total_cost_bank_money}</td>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                            </form>
                        </div>
                        <div class="page">{$_page}</div>
                    </div>
                </div>
            </div>
        </div>
</block>
