<extend name="Public/base"/>
<block name="body">
<style>
    .t1{margin-left: -17px;}
    .t2{margin-left: -17px;}
    .t3{margin-left: -130px;}
    .t4{margin-left: -12px;}
    .t5{margin-left: -170px;}
    .t6{margin-left: -10px;}
    @media (max-width: 768px){
        .top-menu{margin-left: 0px;}
        .t6{margin-top: 5px;}
    }
</style>
	<div class="wrapper wrapper-content animated fadeInRight" style="width:105%;">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>好友打赏记录</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row" style="width:100%;line-height: 30px;">
                            <form action="{:U()}" method="get">
                            <div class="col-sm-5 m-b-xs" style="width: 200px;">
                                <select class="input-sm form-control input-s-sm inline" name="type">
                                    <option value="0">请选择</option>
                                    <option value="1" <if condition="$type eq 1"> selected </if>>用户ID</option>
                                    <option value="2" <if condition="$type eq 2"> selected </if>>用户昵称</option>
                                </select>
                            </div>
                            <div class="col-sm-3 top-menu t1" style="width: 200px;">
                                <div class="input-group">
                                    <input type="text" placeholder="请输入关键词" class="input-sm form-control" name="search" value="{$search}"> <span class="input-group-btn">
                                  
                                </div>
                            </div>
                            <div class="col-sm-3 top-menu t2" style="width: 200px;">
                                <div class="input-group">
                                    打赏时间
                                </div>
                            </div>
                            <div class="col-sm-3 top-menu t3" style="width: 200px;">
                                <div class="input-group">
                                    <input type="text" class="input-sm form-control"  id="datetimepicker1" name="start" value="{$start|date='Y-m-d H:i',###}">
                                </div>
                            </div>
                            <div class="col-sm-3 top-menu t4" style="width: 200px;">
                                <div class="input-group">
                                    至
                                </div>
                            </div>
                            <div class="col-sm-3 top-menu t5" style="width: 200px;">
                                <div class="input-group">
                                    <input type="text" class="input-sm form-control"  id="datetimepicker2" name="stop" value="{$stop|date='Y-m-d H:i',###}">
                                </div>
                            </div>
                            <div class="col-sm-3 top-menu t6" style="width: 200px;">
                                <div class="input-group">
                                   <button type="submit" class="btn btn-sm btn-primary"> 搜索</button> </span>
                                </div>
                            </div>
       <!--                      <div class="col-sm-3" style="width: 200px;">
                                <div class="input-group">
                                   <a href="javascript:;" class="btn btn-sm btn-success" onclick="admin_edit('抽奖奖励配置','{:U('turntable_config')}','2','800','700')"  style="text-decoration:none"> 抽奖奖励配置</a>
                                </div>
                            </div> -->
                            </form>
                            <!-- <div class="col-sm-3" style="width:100px;margin-left:-40px;">
                                <div class="input-group">
                                   <a href="javascript:;" class="btn btn-sm btn-success" onclick="admin_edit('代理添加','{:U('member_add')}','2','800','600')"  style="text-decoration:none"> 添加代理</a>
                                </div>
                            </div>
                            <div class="col-sm-3" style="width: 6%;margin-left:-20px;">
                            <form action="{:U('Public/disabled')}" method="post" onsubmit="return ajax_post(this);" >
                                <div class="input-group">
                                   <button type="submit" class="btn btn-sm btn-danger"> 批量禁用</button>
                                </div>
                            </div> -->
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>

                                        <!-- <th><input type="checkbox" value="" class="chkall"><input type="hidden" name="model" value="Agentmember"><input type="hidden" name="disabled" value="1"></th> -->
                                        <th>行为人ID</th>
                                        <th>行为人昵称</th>
                                        <th>被打赏人ID</th>
                                        <th>被打赏人昵称</th>
                                        <th>打赏金币</th>
                                        <th>领取时间</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <volist name="list" id="list">
                                    <tr>
                                       <!--  <td>
                                            <input type="checkbox" value="{$_data.id}" name="id[]">
                                        </td> -->
                                        <td><a  onclick="admin_edit('用户详情','{:U('User/user_info',array('userid'=>$list['userid']))}','2','1200','800')"  style="text-decoration:none"><font color="#1AB394">{$list.userid}</font></a></td>
                                        <td><a  onclick="admin_edit('用户详情','{:U('User/user_info',array('userid'=>$list['userid']))}','2','1200','800')"  style="text-decoration:none"><font color="#1AB394">{$list.name}</font></a></td>
                                        <td>{$list.targetid}</td>
                                        <td>{$list.target_name}</td>
                                        <td>{$list.money}</td>
                                        <td>{$list.time|date='Y-m-d H:i:s',###}</td>
                                    </tr>
                                  </volist>  
                                </tbody>
                            </table>
                            </form>
                        </div>
                        <div class="page">{$_page}</div>
                    </div>
                </div>
            </div>
        </div>
</block>
