<extend name="Public/base"/>
<block name="body">
    <style>
    .t1{margin-left: -17px;}
    .t2{margin-left: -17px;}
    .t3{margin-left: -130px;}
    .t4{margin-left: -12px;}
    .t5{margin-left: -170px;}
    @media (max-width: 768px){
        .top-menu{margin-left: 0px;}
        .t6{margin-top: 5px;}
    }
</style>
	<div class="wrapper wrapper-content animated fadeInRight" style="width:100%;">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>充值账单明细</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row" style="width:100%;line-height: 30px;">
                            <form action="{:U()}" method="get">
                            <div class="col-sm-5" style="width: 200px;">
                                <select class="input-sm form-control input-s-sm inline" name="type">
                                    <option value="0">请选择</option>
                                    <option value="1" <if condition="$type eq 1"> selected </if>>充值人ID</option>
                                    <option value="2" <if condition="$type eq 2"> selected </if>>充值人昵称</option>
                                    <option value="3" <if condition="$type eq 3"> selected </if>>绑定代理邀请码</option>
                                    <option value="4" <if condition="$type eq 4"> selected </if>>绑定代理账号</option>
                                    <option value="5" <if condition="$type eq 5"> selected </if>>绑定代理游戏ID</option>
                                </select>
                            </div>
                            <div class="col-sm-3 top-menu t1" style="width: 200px;">
                                <div class="input-group">
                                    <input type="text" placeholder="请输入关键词" class="input-sm form-control" name="search" value="{$search}"> <span class="input-group-btn">
                                  
                                </div>
                            </div>
                            <div class="col-sm-3 top-menu t2" style="width:200px;">
                                <div class="input-group">
                                    充值时间
                                </div>
                            </div>
                            <div class="col-sm-3 top-menu t3" style="width: 200px;">
                                <div class="input-group">
                                    <input type="text" class="input-sm form-control"  id="datetimepicker1" name="start" value="{$start|date='Y-m-d H:i',###}">
                                </div>
                            </div>
                            <div class="col-sm-3 top-menu t4" style="width:200px;">
                                <div class="input-group">
                                    至
                                </div>
                            </div>
                            <div class="col-sm-3 top-menu t5" style="width: 200px;">
                                <div class="input-group">
                                    <input type="text" class="input-sm form-control"  id="datetimepicker2" name="stop" value="{$stop|date='Y-m-d H:i',###}">
                                </div>
                            </div>
                            <div class="col-sm-3 top-menu t6" style="width: 200px;">
                                <div class="input-group">
                                   <button type="submit" class="btn btn-sm btn-primary"> 搜索</button> </span>
                                </div>
                            </div>
                            </form>
                            <!-- <div class="col-sm-3" style="width:100px;margin-left:-40px;">
                                <div class="input-group">
                                   <a href="javascript:;" class="btn btn-sm btn-success" onclick="admin_edit('代理添加','{:U('member_add')}','2','800','600')"  style="text-decoration:none"> 添加代理</a>
                                </div>
                            </div>
                            <div class="col-sm-3" style="width: 6%;margin-left:-20px;">
                            <form action="{:U('Public/disabled')}" method="post" onsubmit="return ajax_post(this);" >
                                <div class="input-group">
                                   <button type="submit" class="btn btn-sm btn-danger"> 批量禁用</button>
                                </div>
                            </div> -->
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>

                                        <!-- <th><input type="checkbox" value="" class="chkall"><input type="hidden" name="model" value="Agentmember"><input type="hidden" name="disabled" value="1"></th> -->
                                        <th>ID</th>
                                        <th>充值时间</th>
                                        <th>充值人ID</th>
                                        <th>充值人昵称</th>
                                        <th>充值人类型</th>
                                        <th>充值金额</th>
                                        <th>绑定邀请码</th>
                                        <th>绑定代理账号</th>
                                        <th>绑定代理游戏ID</th>
                                        <th>绑定代理类型</th>
                                        <th>绑定代理分成</th>
                                        <th>二级代理账号</th>
                                        <th>二级代理游戏ID</th>
                                        <th>二级代理分成</th>
                                        <th>三级代理账号</th>
                                        <th>三级代理游戏ID</th>
                                        <th>三级代理分成</th>
                                        <th>充值到账情况</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <volist name="_data" id="_data">
                                    <tr>
                                       <!--  <td>
                                            <input type="checkbox" value="{$_data.id}" name="id[]">
                                        </td> -->
                                        <td>{$_data.id}</td>
                                        <td>{$_data.recharge_time|date="Y-m-d H:i:s",###}</td>
                                        <td><a style="color:#23c6c8" href="javascript:;" onclick="admin_edit('用户详情','{:U('User/user_info',array('userid'=>$_data['recharge_userid']))}','2','1200','800')" >{$_data.recharge_userid}</a></td>
                                        <td><a style="color:#23c6c8" href="javascript:;" onclick="admin_edit('用户详情','{:U('User/user_info',array('userid'=>$_data['recharge_userid']))}','2','1200','800')" >{$_data.recharge_name}</a></td>
                                        <td>
                                            <if condition="($_data.user_type eq 0)">
                                            普通用户
                                            <elseif condition="($_data.user_type eq 1)"/>
                                            一级代理
                                            <elseif condition="($_data.user_type eq 2)"/>
                                            二级代理
                                            <elseif condition="($_data.user_type eq 3)"/>
                                            三级代理
                                            </if>
                                        </td>
                                        <td>{$_data.recharge_amount}</td>
                                        <td>{$_data.bind_agentid}</td>
                                        <td>{$_data.bind_username}</td>
                                        <td>{$_data.bind_userid}</td>
                                        <td>
                                            <if condition="($_data.bind_type eq 0)">
                                            普通用户
                                            <elseif condition="($_data.bind_type eq 1)"/>
                                            一级代理
                                            <elseif condition="($_data.bind_type eq 2)"/>
                                            二级代理
                                            <elseif condition="($_data.bind_type eq 3)"/>
                                            三级代理
                                            </if>
                                        </td>
                                        <td>{$_data.bind_member_commission}</td>
                                        <td>{$_data.level2_username}</td>
                                        <td>{$_data.level2_userid}</td>
                                        <td>{$_data.level2_member_commission}</td>
                                        <td>{$_data.level3_member_username}</td>
                                        <td>{$_data.level3_userid}</td>
                                        <td>{$_data.level3_member_commission}</td>
                                        <td>
                                            <if condition="($_data.status eq 0)">
                                            <font color="red">未到账</font>
                                            <elseif condition="($_data.status eq 1)"/>
                                            <font color="green">已到账</font>
                                            </if>
                                        </td>
                                    </tr>
                                  </volist>  
                                </tbody>
                            </table>
                            </form>
                        </div>
                        <div class="page">{$_page}</div>
                    </div>
                </div>
            </div>
        </div>
</block>
