<extend name="Public/base"/>
<block name="body">
<style>
    .t1{margin-left: -17px;}
    .t2{margin-left: -20px;}
    .t3{margin-left: -160px;}
    .t4{margin-left: -10px;}
    .t5{margin-left: -160px;}
    .t7{margin-left: -135px;}
    .t8{margin-left: -110px;}
    @media (max-width: 768px){
        .top-menu{margin-left: 0px;}
        .t6{margin-top: 5px;}
    }
</style>
	<div class="wrapper wrapper-content animated fadeInRight" style="width:100%;">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>代理列表</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row" style="width:100%;line-height: 30px;">
                            <form action="{:U()}" method="get">
                            <div class="col-sm-5 m-b-xs" style="width: 200px;">
                                <select class="input-sm form-control input-s-sm inline" name="type">
                                    <option value="0">请选择</option>
                                    <option value="1">后台账号(手机号)</option>
                                    <option value="2">游戏ID</option>
                                    <option value="3">游戏昵称</option>
                                    <option value="4">邀请码</option>
                                </select>
                            </div>
                            <div class="col-sm-3 top-menu t1" style="width: 200px;">
                                <div class="input-group">
                                    <input type="text" placeholder="请输入关键词" class="input-sm form-control" name="search"> <span class="input-group-btn">
                                  
                                </div>
                            </div>
                            <div class="col-sm-3 top-menu t2" style="width: 200px;">
                                <div class="input-group">
                                    时间
                                </div>
                            </div>
                            <div class="col-sm-3 top-menu t3" style="width: 200px;">
                                <div class="input-group">
                                    <input type="text" class="input-sm form-control"  id="datetimepicker1" name="start">
                                </div>
                            </div>
                            <div class="col-sm-3 top-menu t4" style="width: 200px;">
                                <div class="input-group">
                                    至
                                </div>
                            </div>
                            <div class="col-sm-3 top-menu t5" style="width: 200px;">
                                <div class="input-group">
                                    <input type="text" class="input-sm form-control"  id="datetimepicker2" name="stop">
                                </div>
                            </div>
                            <div class="col-sm-3 top-menu t6" style="width: 200px;">
                                <div class="input-group">
                                   <button type="submit" class="btn btn-sm btn-primary"> 搜索</button> </span>
                                </div>
                            </div>
                            </form>
                            <div class="col-sm-3 top-menu t7" style="width: 200px;">
                                <div class="input-group">
                                   
                                </div>
                            </div>
                            <div class="col-sm-3 top-menu t8" style="width: 200px;">
                            <form action="{:U('Public/disabled')}" method="post" onsubmit="return ajax_post(this);" >
                                <div class="input-group">
                                   
                                </div>
                            </div>
                            <div class="col-sm-3 top-menu t8" style="width: 200px;">
                                <div class="input-group">
                                   
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>

                                        <th><input type="checkbox" value="" class="chkall"><input type="hidden" name="model" value="Agentmember"><input type="hidden" name="disabled" value="1"></th>
                                        <th>ID</th>
                                        <th>游戏ID</th>
                                        <th>游戏昵称</th>
                                        <th>后台账号(手机号)</th>
                                        <th>邀请码</th>
                                        <th>金币数</th>
                                        <th>房卡数</th>
                                        <th>代理等级</th>
                                        <th>上级邀请码</th>
                                        <th>上级代理昵称</th>
                                        <th>余额</th>
                                        <th>提交时间</th>
                                        <th>审核状态</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <volist name="_data" id="_data">
                                    <tr>
                                        <td>
                                            <input type="checkbox" value="{$_data.id}" name="id[]">
                                        </td>
                                        <td><a style="color:#23c6c8" href="javascript:;" onclick="admin_edit('用户详情','{:U('User/user_info',array('userid'=>$_data['userid']))}','2','1200','800')" >{$_data.id}</a></td>
                                        <td><a style="color:#23c6c8" href="javascript:;" onclick="admin_edit('用户详情','{:U('User/user_info',array('userid'=>$_data['userid']))}','2','1200','800')" >{$_data.userid}</a></td>
                                        <td><a style="color:#23c6c8" href="javascript:;" onclick="admin_edit('用户详情','{:U('User/user_info',array('userid'=>$_data['userid']))}','2','1200','800')">{$_data.gamename}</a></td>
                                        <td>{$_data.username}</td>
                                        <td>{$_data.agentid}</td>
                                        <td>{$_data.money}</td>
                                        <td>{$_data.jewels}</td>
                                        <td>
                                            <if condition="($_data.agent_level eq 1)">
                                            一级代理
                                            <elseif condition="($_data.agent_level eq 2)"/>
                                            二级代理
                                            <elseif condition="($_data.agent_level eq 3)"/>
                                            三级代理
                                            </if>
                                        </td>
                                        <td>{$_data.superior_agentid}</td>
                                        <td>{$_data.superior_username}</td>
                                     
                                        <td>{$_data.balance}</td>
                                        <td>{$_data.register_time|date="Y-m-d H:i:s",###}</td>
                                        <td><switch name="_data['status']"> <case value="0">审核已通过</case> <case value="1">未审核</case> <default />审核未通过</switch></td>
                                        <td>
                                            <if condition="$_data['status'] eq 1">
                                            <a href="{:U('examine_edit',array('id'=>$_data['id'],'status'=>0))}" onclick="return ajax_get(this)" class="btn btn-outline btn-info  dim " >通　过</i></a>
                                            <a href="{:U('examine_edit',array('id'=>$_data['id'],'status'=>2))}" onclick="return ajax_get(this)" class="btn btn-outline btn-danger  dim " >不通过</i></a>
                                        
                                            <else />
                                                <a href="javascript:;" class="btn btn-outline btn-success" >已审核</i></a>
                                            </if>
                                        </td>
                                    </tr>
                                  </volist>  
                                </tbody>
                            </table>
                            </form>
                        </div>
                        <div class="page">{$_page}</div>
                    </div>
                </div>
            </div>
        </div>
</block>
