<extend name="Public/base"/>
<block name="body">

	<div class="wrapper wrapper-content animated fadeInRight" style="width:100%;">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>新闻管理</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row" style="width:100%;line-height: 30px;">
                            <div class="col-sm-3" style="width:100px;margin-left:0px;">
                                <div class="input-group">
                                   <a href="javascript:;" class="btn btn-sm btn-success" onclick="admin_edit('提那家新闻','{:U('add_news')}','2','600','600')"  style="text-decoration:none"> 添加新闻</a>
                                </div>
                            </div>
                            
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>新闻标题</th>
                                        <th>新闻作者</th>
                                        <th>图片</th>
                                        <th>新闻类型</th>
                                        <th>添加时间</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <volist name="_data" id="_data">
                                    <tr>
                                        <td>{$_data.title}</td>
                                        <td>{$_data.author}</td>
                                        <td><img src="{$_data.img_url}" style="height:50px;"></td>
                                        <td>
                                            <if condition="($_data.type eq 0)">
                                                游戏公告
                                            <elseif condition="($_data.type eq 1)"/>
                                                行业资讯
                                            </if>
                                        </td>
                                        <td>{$_data.create_time|date="Y-m-d",###}</td>
                                        <td>
                                        	<a class="btn btn-outline btn-info  dim " onclick="admin_edit('编辑','{:U('news_edit',array('id'=>$_data['id']))}','2','600','1000')"  style="text-decoration:none">编辑</i></a>
                                            <a class="btn btn-outline btn-danger  dim "  href="{:U('news_del',array('id'=>$_data['id']))}" onclick="return ajax_get(this)">删除</i></a>
                                        </td>
                                    </tr>
                                  </volist>  
                                </tbody>
                            </table>
                        </div>
                        <div class="page">{$_page}</div>
                    </div>
                </div>
            </div>
        </div>
</block>