<include file="Public/base"/>	
<style>
.invite-wrap .line{ padding:0.3rem 0}
.erweima{ width:100%; overflow:hidden}
.erweima h3{ margin:5px 0 5px 0; text-align:left; font-weight:bold}
.erweima P{ text-align:left; color:#999; font-family:"Microsoft YaHei"; }
.pic{ float:left; width:30%; margin:2px 1% 3px 0}
.link{ width:100%; overflow: hidden;}
.invite-wrap .link p.burl{ width:100%}
.bck{width:80%; height:0.8rem; margin: 10px auto 0}
</style>
		<div class="invite-wrap"> 
            <div class="erweima">
				<div style="color:red;border: 1px solid #f00;padding: 0.15rem;line-height: 0.4rem;">
					<p style="color: red">您也可以把下列图片分享给好友，好友识别二维码下载安装游戏后，会自动成为您的下级玩家，为您创造返利。通过您的邀请进入游戏的玩家，会额外获得相应的奖励。</p>
					<p style="color: red">扫一扫代理二维码即可终身绑定关系！不需要重复扫！</p>				</div>
                <div class="pic" style="display:none">
					<img style="width:70%" src="">
                </div>
				<div class="erweima"><br>
					<h3 style="color:red;text-align: center">长按图片可保存至手机</h3>
				</div>
					<div class="erweima" id="erweima_14">
						<div class="erweima" id="erweima_28" >
							<h3 style="margin-left:17%">代理二维码-扫一扫即可绑定</h3>
							<div class="pic"><a><img src="{$invite}" alt="" style="width:200%;margin-left:70%;" border="0"></a></div>
						</div>
						<br />
						<a class="btn btn-info" href="{:U('download')}">点我下载</a>
				<br />
				    </div>
        </div>
</script>
        <div class="index-wrap">
            <div class="footer-note">
                <p style="text-align:center"><span>棋牌运营平台</span></p>
            </div>
        </div>
    </div>
</body>
</html>