<include file="Public/base"/>
            <div class="information-basic">
           <div class="nav-wrap">
                <div class="nav" style="background-color: #fb9c07;">
                    <h1>兑换金币/钻石</h1>
                </div>
            </div>
                <div class="item item-tel">
                    <label>我的金币</label>
                    <p>{$money}</p>
                </div>

                <div class="item item-tel">
                    <label>我的钻石: </label>
                    <p>{$jewels}</p>
                </div>
                
                <div class="item item-tel">
                    <label>兑换比例：</label>
                    <p style="color:red;">官方兑换比例：金币:钻石=100:1</p>
                </div>
<br/>
<form class="form-horizontal" role="form" onsubmit="return ajax_post(this);">
  <div class="form-group">
    <label for="firstname" class="col-sm-2 control-label">金币</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="firstname" name="money" placeholder="请输入数量">
    </div>
  </div>
  <div class="form-group" style="text-align: center;">
    <div class="col-sm-offset-3 col-sm-12">
      <button type="submit" class="btn btn-info">确认</button>
    </div>
  </div>
</form>


<form class="form-horizontal" role="form" onsubmit="return ajax_post(this);">
  <div class="form-group">
    <label for="firstname" class="col-sm-2 control-label">钻石</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="firstname" name="jewels" placeholder="请输入数量">
    </div>
  </div>
  <div class="form-group" style="text-align: center;">
    <div class="col-sm-offset-3 col-sm-12">
      <button type="submit" class="btn btn-info">确认</button>
    </div>
  </div>
</form>        


           <div class="nav-wrap">
                <div class="nav" style="background-color: #fb9c07;">
                    <h1>赠送金币</h1>
                </div>
            </div>
   <br/>          
<form class="form-horizontal" role="form" onsubmit="return ajax_post(this);">
  <div class="form-group">
    <label for="firstname" class="col-sm-2 control-label">赠送ID</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="firstname" name="jewels" placeholder="请输入赠送ID">
    </div>
  </div>
  
  <div class="form-group">
    <label for="firstname" class="col-sm-2 control-label">赠送金币数</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="firstname" name="jewels" placeholder="请输入数量">
    </div>
  </div>

  <div class="form-group" style="text-align: center;">
    <div class="col-sm-offset-3 col-sm-12">
      <button type="submit" class="btn btn-info">确认赠送</button>
    </div>
  </div>
</form>  




            </div>
        </div>
    </div>

        <div class="index-wrap">
            <div class="footer-note">
                <p style="text-align:center"><span>棋牌运营平台</span></p>
            </div>
        </div>




<style>
table.table a {color:blue;}
.welcome-wrap {padding:0.24rem;}
.welcome-wrap .avator img {height:auto;}
#tipcontent {padding:10px}
</style>
<style>
.tipp { color: grey; font-size: 0.24rem;line-height: 1.4; }
.mipt{ width:100%;text-align:left}
.mipt h5{ text-align:center}
.mipt input{ width:80%;border:1px solid #ccc; padding:5px; margin-bottom:15px; margin-left:10%;}
.mipt a{ color:#f60}
.mipt .btn-code{ float:right; margin-top:-45px; margin-right:12%; position:relative}
.dbtn{ padding:0 10px; text-align:center;}
.dbtn input{width:3.1rem;height:.74rem;line-height:.74rem;background-color:#fb9c07;-webkit-border-radius:.1rem;border-radius:.1rem;font-size:.28rem;color:#fff;text-align:center;}
.information-basic .item label{width:2.64rem;}
</style>

</body></html>