<include file="Public/base"/>
				        <div class="agency-wrap">
            <div class="tab-container">
                
<div class="tab-main">

	<style>
		.dhelp{padding: 10px; line-height: 0.43rem}
		.dhelp h2{text-align:center; font-size: 0.5rem; padding-top:10px; }
		.dhelp .spin{text-align:right; color:#5F5959;text-align: center;padding: 16px 0}
		.dhelp .dcont{color:#240E0F; line-height: 0.5rem}
		.dhelp .dcont p{margin-bottom:10px;}
	</style>

	<div class="dhelp">
	  <h2> 棋牌代理制度</h2>
	  <div class="spin"> 2017.6.7 修订</div>
	  <div class="dcont">
		  <p> 1. 棋牌是基于熟人之间相互邀请而形成的网上棋牌室模式。只要会使用手机，无需任何成本，人人皆可创业。为打造良好的平台生态，打造互惠共赢的平台环境，特制定本制度。 </p>
		  <p>2. 成为棋牌代理后，可以通过微信分享等渠道，宣传邀请码和二维码，邀请玩家进入游戏；同时也可以将代理邀请链接或二维码发给其他朋友，邀请他们成为自己的下级代理。 </p>
		  <p>3. 玩家一旦通过扫描某位代理的二维码进入游戏，则将终身被标记为该名代理的下级玩家；某位玩家接受了代理的邀请链接或扫描二维码注册成为代理后，则亦终身被标记为该名代理的下级代理。</p>
		  <p> 4. 棋牌实行即时充返制度。所邀请的玩家的游戏内充值（包含下级代理所邀请的玩家），都会即时计算返利给各级代理，并可随时通过代理后台将返利提现。</p>
		  <p> 5. 推广员和代理的返利额度由其上级设定，但最低不会低于30%。推广员和代理的级别由其返利额度决定。其中，推广员级别不具备邀请其他玩家成为代理的资格。 </p>
		  <p>6. 上级代理应与下级代理就返利政策进行公平公正的约定，上级代理应及时根据下级代理的业绩情况，为其调整合适的返利额度。如果出现上级代理不守承诺、不及时为下级代理调增返利额度的情况，平台保留单方面干预该位下级代理返利额度的权力。 </p>
		  <p>7. 本平台实行新代理的“首问负责制”原则，严格限制并禁止代理之间的恶意挖角和跳槽。一经举报查实，则将严格处罚主动挖角以及接受挖角的双方。处罚手段包括但不限于：扣除返利、调降返利额度、冻结邀请功能甚至直接取消代理资格。 </p>
		  <p>8. 上级代理需保持和下级代理及玩家的沟通，如果出现单方面删除下级代理或玩家的微信好友、拒接或不接电话超过三天及其他类似性质行为，接到下级代理或玩家的投诉或举报后，平台将有权移除其邀请或绑定关系。</p>
		  <p>9. 如果代理连续30天没有登录后台或游戏，系统将解除其所有玩家的绑定关系，并将体系内的下级代理全部转移给其上级代理。</p>

	  </div>
	</div>

        <div class="index-wrap">
            <div class="footer-note">
                <p style="text-align:center"><span></span></p>
            </div>
        </div>
	
    </div>
</body>
</html>