<include file="Public/base"/>
				        <div class="agency-wrap">
            <div class="tab-container">
                
<div class="tab-main">

	<style>
		.dhelp{padding: 10px; line-height: 0.43rem}
		.dhelp h2{text-align:center; font-size: 0.5rem; padding-top:10px; }
		.dhelp .spin{text-align:right; color:#5F5959;text-align: center;padding: 16px 0}
		.dhelp .dcont{color:#240E0F; line-height: 0.8rem; padding: 0 0.2rem}
		.dhelp .dcont p{margin-bottom:20px;}
		.dhelp .dcont strong{font-weight:700}
	</style>

                    <div class="dhelp">
                      <h2> 常见问题</h2>
                      <div class="spin"> 2017.6.7 修订</div>
                      <div class="dcont">
                        <p><strong><A name="top1"> 1. 做代理以后如何赚钱？</strong> <br>
                          棋牌属于房卡模式棋牌，即玩家需要创建房间、或者加入房间后才可以共同进行游戏。游戏没有大厅模式，无法和陌生人进行游戏。因此，成为棋牌代理后，您需要通过朋友圈、论坛等途径，将喜欢玩牌的亲朋好友组织到微信群中，引导并组织牌局。因为进行游戏需要支付房间费（类似门票的概念），因此您的收入也是来源于玩家所支付的房间费用。 另外请注意，严格禁止使用本产品或平台进行赌博活动。 </p>
                        <p><strong><A name="top2">2. 如何找到玩家？如何让微信群保持活跃？ </strong><br>
                          您的亲戚、朋友，以及亲戚朋友所介绍的二度、三度人脉，都是您的潜在服务对象。积极沟通，不放过任何一个接触的机会。善于使用网络媒介，多多使用朋友圈进行游戏宣传。每天自己积极参与、组织游戏，维持群内的游戏活跃度。鼓励亲朋好友介绍朋友进来一同游戏，都是提高、维持群活跃度的有效方式。<br>
                        </p>
                        <p><strong><A name="top3">3. 我应该优先自己开群还是优先发展下级代理？</strong><br>
                          如果您之前没有经营过房卡棋牌群，那么建议您优先完成一到两个群的创建和维护工作。这个过程，有助于您提高和增强对于游戏群运营的了解。那么未来如果计划转型为发展下级代理为主，这阶段的经验，对于未来您发展和引导新代理开展业务也非常关键。当然，如果您在之前已经积累了丰富的游戏群经验，那么您也可以直接以发展代理模式为主。</p>
                        <p><strong> <A name="top4">4. 如何发展下级代理？</strong><br>
                          从经验来看，全职主妇、棋牌室、彩票站、超市、柜台、直销/保险从业人员等空余时间比较多，同时能够有机会接触线下人群的职业或岗位，都很适合从事棋牌游戏代理行业，对这些人的收入也是有益补充。</p>
                      </div>
                    </div>

        <div class="index-wrap">
            <div class="footer-note">
                <p style="text-align:center"><span>棋牌运营平台</span></p>
            </div>
        </div>


    </div>
</body>
</html>