<include file="Public/base"/>
        <div class="search-wrap">
            <div class="tab-container">
        <div class="tab-nav">
          <a href="" class="on">兑换记录列表</a>
        </div>
            </div>
                        <div class="search-condition">
                <div class="item">
                    <table class="table">
            <tbody>
          <tr>
               
                <th>产品名称</th>
                <th>产品图</th>
                <th>兑换消耗钻石</th>
                <th>订单状态</th>
                <th>操作</th>
            </tr>

              <tr>
                <td scope="row" style="line-height:60px; ">111111</th>
                <td ><img src="http://39.108.166.3/Uploads/home_img/5a41c4d669361.png" width=60px; height=60px;></td>  
                <td style="line-height:60px;">123</td>
                <td style="line-height:60px;">平台审核中</td>
                <td style="line-height:60px;"><a type="button" class="btn btn-info" href="">确认收货</a></td>
              </tr>
              
              <tr>
                <td scope="row" style="line-height:60px; ">111111</th>
                <td ><img src="http://39.108.166.3/Uploads/home_img/5a41c4d669361.png" width=60px; height=60px;></td>  
                <td style="line-height:60px; ">123</td>
                <td style="line-height:60px; ">平台已发货</td>
                <td style="line-height:60px; "><a type="button" class="btn btn-info" href="">确认收货</a></td>
              </tr>

                            <tr>
                <td scope="row" style="line-height:60px; ">111111</th>
                <td ><img src="http://39.108.166.3/Uploads/home_img/5a41c4d669361.png" width=60px; height=60px;></td>  
                <td style="line-height:60px; ">123</td>
                <td style="line-height:60px; ">平台审核中</td>
                <td style="line-height:60px; "><a type="button" class="btn btn-info" href="">确认收货</a></td>
              </tr>
 

                    </tbody>
                </table>
                   

                        </div>
            </div>
        </div>

        <div class="index-wrap">
            <div class="footer-note">
                <p style="text-align:center"><span>棋牌运营平台</span></p>
            </div>
        </div>




    </div>

</body></html>