<include file="Public/base"/>
        <div class="search-wrap">
			      <div class="tab-container">
				<div class="tab-nav">
					<a href="" class="on">会员列表</a>
				</div>
            </div>
						            <div class="search-condition">
			<form>
                <div class="time">
					<div class="end">
                        <i>昵称</i>
                        <input style=" border: 1px solid #ccc; border-radius: 0.1rem; height: 0.78rem; line-height: 0.78rem; padding-left: 0.2rem; width: 90px;" name="username"  type="text" value="{$username}">
                    </div>
                    
                    <div class="end">
                        <i>玩家id</i>
                        <input style=" border: 1px solid #ccc; border-radius: 0.1rem; height: 0.78rem; line-height: 0.78rem; padding-left: 0.2rem; width: 90px;" name="userid"  type="text" value="{$userid}">
                    </div>
						<button  class="btn-search" type="submit" style="top:32px">搜索</button>
                </div>
			</form>

                <div class="item">
                    <table class="table">
				    <tbody>
					<tr>
               
                            <th>账号ID</th>
                            <th>账号昵称</th>
                            <th>绑定时间</th>
							<th>累计充值金额</th>
 	                        <th>带给我的收益</th>
						</tr>
         <volist name="_data" id="my_user">
		          <tr>
		            <th scope="row">{$my_user.userid}</th>
		            <td ><a href="{:U('userinfo',array('userid'=>$my_user['userid']))}" style="color:#23527c;">{$my_user.username}</a></td>  
		            <td>{$my_user.bind_time|date="Y-m-d H:i:s",###}</td>
		            <td>{$my_user.recharge}</td>
		            <td>{$my_user.c}</td>
		          </tr>
          </volist>


                    </tbody>
                </table>
                   
{$_page}
				                </div>
            </div>
        </div>

        <div class="index-wrap">
            <div class="footer-note">
                <p style="text-align:center"><span>棋牌运营平台</span></p>
            </div>
        </div>




    </div>

</body></html>