<include file="Public/base"/>
        <div class="search-wrap">
                  <div class="tab-container">
                <div class="tab-nav">
                    <a href="" class="on">账单清单</a>
                </div>
            </div>
                                    <div class="search-condition">
            <form method="get" id="form1">
                <div class="time">
                    <div class="start">
                        <i>开始时间</i>
                        <input type="date" name="start" id="sdate" onchange="checkSdata(this,'2018-05-01')">
                    </div>
                    <span class="line">-</span>
                    <div class="end">
                        <i>结束时间</i>
                        <input type="date" name="end" id="edate" onchange="checkSdata(this,'2018-05-01')">
                    </div>
                    <br/>
                        <button  class="btn-search" type="submit" style="top:36px">搜索</button>  
                </div>
            </form>

                <div class="item">
                     <div class="table-responsive">
      <table class="table table-bordered" style="width: 100%">
        <thead>
          <tr>
            <th>时间</th>
            <th>提现方式</th>
            <th>提现余额</th>
            <th>提现状态状态</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
          </tr>
          
        </tbody>
      </table>
    </div>
                   

                                </div>
            </div>
        </div>

        <div class="index-wrap">
            <div class="footer-note">
                <p style="text-align:center"><span>棋牌运营平台</span></p>
            </div>
        </div>




    </div>

</body></html>