<include file="Public/base"/>
			        <div class="assign-card-wrap"> 
            <div class="assign-card assign-agency">
                <div class="tab-container">
                    <div class="tab-nav">
                        <a href="{:U('question')}" >举报/反馈</a>
                        <a href="{:U('question_list')}" class="on">举报/反馈记录</a>
                    </div>

                    <div class="tab-main">
                        <div class="card-record">
                            <table class="table">
						    <tr>
    							<th>问题标题</th>
                                <th>玩家ID</th>
    							<th>类型</th>
    							<th>时间</th>
    							<th>处理状态</th>
							</tr>



             <volist name="res" id="res">
                  <tr>
                    <td scope="row">{$res.title}</td>
                    <td scope="row">{$res.user}</td>
                    <td >
                            <if condition="($res.type eq 1)">玩家举报 
                            <elseif condition="($res.type eq 2)"/>代理举报
                            <elseif condition="($res.type eq 3)"/> 建议反馈
                            <elseif condition="($res.type eq 4)"/>Bug反馈
                            <else/>其他问题
                            </if>
                    </td> 
                    <td>{$res.add_time|date="Y-m-d H:i:s",###}</td>
                    <td>
                        <if condition="($res.status eq 0)"><span style="color:red">正在处理中</span>
                         <else/><span style="color:green">已处理</span>
                     </if>
                    </td>
           
                  </tr>
          </volist>
{$page}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="index-wrap">
            <div class="footer-note">
                <p style="text-align:center"><span>棋牌运营平台</span></p>
            </div>
        </div>


    </div>
</body>
</html>