
<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="format-detection" content="telephone=no, email=no">
	<title>棋牌运营平台 </title>
    <link href="__PUBLIC__/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/page/page.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/newadmin/css/index.min.css">
    <link rel="stylesheet" href="__PUBLIC__/newadmin/css/index.css">
    <link rel="stylesheet" href="__PUBLIC__/newadmin/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/newadmin/css/search.css">
    <link rel="stylesheet" href="__PUBLIC__/newadmin/css/mstyle.css">
    <link rel="stylesheet" href="__PUBLIC__/newadmin/css/invite.min.css">
    <link rel="stylesheet" href="__PUBLIC__/newadmin/css/common.min.css">
    <link rel="stylesheet" href="__PUBLIC__/newadmin/css/agency.min.css">
    <link rel="stylesheet" href="__PUBLIC__/newadmin/css/information.css">
    
    <script type="text/javascript" src="__PUBLIC__/newadmin/js/ajax.js"></script>
    <script type="text/javascript" src="__PUBLIC__/newadmin/js/sky.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/newadmin/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/newadmin/js/ajaxfileupload.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/js/plugins/layer/layer.min.js"></script>
<script type="text/javascript">
      function ajax_post(the){
            layer.confirm('您确定要做此操作吗？', {
                btn: ['确定','取消'] //按钮
            }, function(){
                var that = $(the);
                var url= $(the).attr('action');
                var cs = $(the).serialize();
                $.ajax({
                    url:url,
                    data:cs,
                    type:'POST',
                    success:function(data){
                        if(data.status==1){
                            layer.msg(data.info, {icon: 1});
                            var timer = setInterval(function(){
                                clearInterval(timer);
                                window.location.href=data.url;
                            },2000);
                        }else{
                            layer.msg(data.info, {icon: 2});
                        }
                    }
                });
            }, function(){
                layer.msg('取消成功', {
                    time: 1500, //20s后自动关闭
                });
                return false;
            });
            return false;
        }





       //get方法ajax提交
        function ajax_get(the){
            layer.confirm('您确定要做此操作吗？', {
                btn: ['确定','取消'] //按钮
            }, function(){
                var url = $(the).attr('href');
                $.ajax({
                    url:url,
                    type:'GET',
                    success:function(data){
                        if(data.status==1){
                            layer.msg(data.info, {icon: 1});
                            var timer = setInterval(function(){
                                clearInterval(timer);
                                window.location.href=data.url;
                            },2000);
                        }else{
                            layer.msg(data.info, {icon: 2});
                        }
                    }
                });
            }, function(){
                layer.msg('取消成功', {
                    time: 1500, //20s后自动关闭
                });
                return false;
            });
            return false;
        }


</script>

</head>
<body>

	<div class="panel panel-index">
        <div class="nav-wrap">
            <div class="nav">
				<a class="home" href="{:U('index/index')}"></a>
				                <h1>棋牌运营平台</h1>
            </div>
        </div>
		 <div class="welcome-wrap">
			<div class="avator">
                <a href="{:U('index')}">
                    <img src="__PUBLIC__/newadmin/img/avator.png">
                </a>
            </div>
            <div class="brief">
                <p class="username" >欢迎你！嘿丶你的益达<span style="color:#f08200;font-size:16px;">（推广员）</span></p>
				<p class="txt" style="margin-top:6px;"><span style="position: absolute;margin-left:160px">本月业绩：<i>0</i></span>今日业绩：<i>0</i></p>
				<p class="txt" style="margin-top:6px;"><span style="position: absolute;margin-left:160px">未提现金额：<i>0.00</i></span>返利额度：<i>30%</i>  </p>
			</div>
        </div>
			

		<div class="dmsg">最新活动：<a href="{:U('index')}">快一棋牌</a></div>
		<div class="dmsg">最新消息：<a href="http://kyqp.szhmkeji.com/newagent.php">代理后台入口 http://kyqp.szhmkeji.com/newagent.php</a></div>

		
		      <div class="index-wrap">
            <div class="list">

               <div class="item">
                    <a href="{:U('info')}" >
                        <span class="icon icon-account"></span>
                        <span class="txt">基本信息</span>
                        <i class="tip">邀请码 <b>[{$my.agentid}]</b></i>                    
                    </a>
                </div>

                <div class="item">
                    <a href="{:U('my_ranking')}">
                        <span class="icon icon-search"></span>
                        <span class="txt">业绩排名</span>
                        <i class="tip"><b>{$ranks}</b>名</i>                    
                    </a>
                </div>
                
                <div class="item">
                    <a href="{:U('rank_analysis')}">
                        <span class="icon icon-search"></span>
                        <span class="txt">业绩分析</span>                   
                    </a>
                </div>

                <div class="item">
                    <a href="{:U('my_user')}">
                        <span class="icon icon-agency"></span>
                        <span class="txt">我的会员</span>
                        <i class="tip"><b>{$num}</b>人</i>                    
                    </a>
                </div>

               


                <div class="item">
                    <a href="{:U('my_agent')}">
                        <span class="icon icon-agency"></span>
                        <span class="txt">我的代理</span>                
                    </a>
                </div>

                <div class="item">
                    <a href="{:U('ordersearch')}">
                        <span class="icon icon-search"></span>
                        <span class="txt">充值查询</span>                   
                    </a>
                </div>


                <div class="item">
                    <a href="{:U('consume_usersearch')}">
                        <span class="icon icon-search"></span>
                        <span class="txt">消耗查询</span>
                    </a>
                </div>


                <div class="item">
                    <a href="{:U('Club/index')}">
                        <span class="icon icon-agency"></span>
                        <span class="txt">我的俱乐部</span>
                    </a>
                </div>


                <div class="item">
                    <a href="{:U('apply_pos')}">
                        <span class="icon icon-count-charge"></span>
                        <span class="txt">提现</span>
                    </a>
                </div>
                
                <div class="item">
                    <a onclick="return change_password();">
                        <span class="icon icon-agency"></span>
                        <span class="txt">修改密码</span>
                                          
                    </a>
                </div>
                 
                <div class="item">
                    <a href="{:U('inviteplayer')}">
                        <span class="icon icon-invite"></span>
                        <span class="txt">游戏二维码</span>
                    </a>
                </div>
                
                <div class="item">
                    <a href="{:U('agent_inviteplayer')}">
                        <span class="icon icon-invite"></span>
                        <span class="txt">代理二维码</span>
                    </a>
                </div>


                <div class="item">
                    <a href="{:U('question')}">
                        <span class="icon icon-qu"></span>
                        <span class="txt">举报/反馈</span>
                    </a>
                </div>

                <div class="item">
                    <a href="{:U('dlgz')}">
                        <span class="icon icon-rules"></span>
                        <span class="txt">代理规则</span>
                    </a>
                </div>
 

                <div class="item">
                    <a href="{:U('Public/logout')}" onclick="return ajax_get(this);">
                        <span class="icon icon-rules"></span>
                        <span class="txt">退出后台</span>
                    </a>
                </div>
            </div>
        </div>>
				

        <div class="index-wrap">
            <div class="footer-note">
                <p style="text-align:center"><span>棋牌运营平台</span></p>
            </div>
        </div>



    </div>
</body>
</html>