<extend name="Public/base"/>
<block name="body">
    <style>
        .t1{margin-left: -17px;}
        .t2{margin-left: -17px;}
        /*.t3{margin-left: -130px;}
        .t4{margin-left: -12px;}
        .t5{margin-left: -170px;}*/
        @media (max-width: 768px){
            .top-menu{margin-left: 0px;}
            .t6{margin-top: 5px;}
        }
    </style>
    <div class="wrapper wrapper-content animated fadeInRight" style="width:100%;">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>猜拳转账记录</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row" style="width:100%;line-height: 30px;">
                            <form action="{:U()}" method="get">
                                <div class="col-sm-5 m-b-xs" style="width: 150px;">
                                    <select class="input-sm form-control input-s-sm inline" name="type" style="padding:3px 12px;">
                                        <option value="0">请选择</option>
                                        <option value="1" <if condition="$type eq 1"> selected </if>>用户ID</option>
                                    </select>
                                </div>
                                <div class="col-sm-3 top-menu t1" style="width: 200px;">
                                    <div class="input-group">
                                        <input type="hidden" name="status" value="<?php echo $_GET['status']?$_GET['status']:0;?>">
                                        <input type="text" placeholder="请输入关键词" class="input-sm form-control" name="search" value="{$search}"> <span class="input-group-btn">

                                    </div>
                                </div>
                                <div class="col-sm-3 top-menu t6" style="width: 100px;">
                                    <div class="input-group">
                                        <button type="submit" class="btn btn-sm btn-primary"> 搜索</button> </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>时间</th>
                                        <th>昵称</th>
                                        <th>ID</th>
                                        <th>交易类型</th>
                                        <th>金额</th>
                                        <th>昵称</th>
                                        <th>ID</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <volist name = "_data" id="_data">
                                    <tr>
                                        <td>{$_data.endtime| date='Y-m-d H:i:s',###}</td>
                                        <td>{$_data.name_0}</td>
                                        <td>{$_data.userid_0}</td>
                                        <td>{$_data.isIncome_0}</td>
                                        <td>{$_data.money_0}</td>
                                        <td>{$_data.name_1}</td>
                                        <td>{$_data.userid_1}</td>
                                    </tr>
                                    </volist>
                                </tbody>
                            </table>

                        </div>
                        <div class="page">{$_page}</div>
                    </div>
                </div>
            </div>
        </div>
</block>
